<div class="container">
    <h1>Reset password</h1>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_with url: password_reset_path do |f| %>
          <p>
            <%= f.label "fhdg" %><br />
            <%= f.text_field :email, class: 'form-control' %>
          </p>
          <p>
            <%= f.submit "hgfhf", class: "btn btn-primary" %>
          </p>
        <% end %>
      </div>
    </div>
</div>